@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-smoothing:grayscale;
}
/*Estilos genericos*/
html, body {
    width: 100vw;
    height: auto;/*900vh*/
    cursor:none;
    background: #25344f;
    color: #d8d78c;
    overflow-x: hidden;  
}
img{
    position: relative;
    width: auto;
    height: auto; /*auto*/
    object-fit: cover;
    will-change: transform;
}
h1{
    font-size:5rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    line-height: 1.25;
}
p{
    font-size: 1.124rem;
    font-weight: 400;
    line-height: 1.25;
}
section {
  position: relative;
  width: 100vw;
}
/* .intro,.outro{   TODAVIA NO IMPLEMENTADO!!
    height: 100svh;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h1,.outro h1{
    width: 60%;
    text-align: center;
    line-height: 1.1;
}*/

/* Contenedor principal */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
/* Barra de navegación */
.navi{
    padding-right: 40px;
    padding-left: 40px ;
    width: 100%;
    max-width: none;
    margin-left: auto ;
    margin-right: auto;
}

/* Logo 
.nav-logo a {
  text-transform: uppercase;
}*/

/* Boton con enlaces */
.nav-links {
  display: flex;
  gap: 10px;
}
.nav-link {
  position: relative;
  padding: 9px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  cursor: none;
  background: rgba(255, 255, 255, 0.5); /*bck dinamico*/
}

/* Texto botones */
.button-label {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #0f0f0f;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho disponible */
}
/*Inicio*/
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}.text{
    font-style: italic;
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -1px;
    pointer-events: none;
    color: #b0c7e0;
}
.subtext{
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    opacity:0.9;
    pointer-events: none;
    color: white;
}
.text-wrapper,.subtext-wrapper{
    overflow: hidden;
}
/*Botones inicio*/
.btn {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    opacity: 0; 
    visibility:hidden;
    transform: translateY(30px);
    transition: none;
}.btn button {
    position: relative;
    background-color: #617891;
    color: #b0c7e0;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    gap: 4px;
}
#proyectos,#cv{
    font-family: monospace;
}
.btn button img{
    width: 20px;
    height: 20px; 
    object-fit: contain; 
    pointer-events: none;
}
/*Seccion dispositiva sobremi*/
.diapositiva{
    background-color: #617891;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    padding: 2rem 1rem;
    display: flex;
}
.diapositiva-titulo{
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    color: #b0c7e0;
    text-align: center;
    justify-content: center;
    font-family: monospace; 
    font-weight: 500;
    line-height: 1.5;
    max-width: 700px;
    font-size: 3rem;
    padding: 1rem;
    overflow: hidden;
}
/*.indiduales{
    width: 60px;
    height: 40px;
    background-color: red;
}*/
.info-container {
    width: 40%;
    gap: 2rem;
    max-width: 600px;
    margin-left: auto; 
    margin-right: 5%; 
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}     
.texto-descripcion {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
        
/* Tabla de habilidades */
.tech-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    font-family:  sans-serif;
    table-layout: fixed;
    grid-template-columns: repeat(3, 1fr);
}
.skill-title{
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: large;
}           
.skill-item {
    display: block;
    margin: 0.5rem;
    color: white;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: all 0.3s ease;

    position: relative;
    overflow: hidden;
    z-index: 1;
}
.skill-item:hover {
    animation: desaparecer-aparecer 1s ease-in-out forwards;
}

/* Animación skills */
@keyframes desaparecer-aparecer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-100%);
        opacity: 0;
    }
    41% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


        
/* Responsive!!!!!!!!!!!!!!!!!!! */


/*Seccion galeria proyecto*/
.proyectos{
    background-color: #d5b893;
    /*background-image:url(../img/fondoProy.png);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.cartas {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 150%;
  max-width: 1800px;
  height: 600px;
  transform: translate(-50%,-50%);
  will-change: transform;
}
.carta {
  position: absolute;
  width: 500px;
  height: 550px;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  margin-left: -250px;
  display: flex;
  flex-direction:column;
  gap:1em;
  will-change: transform;
}
.carta-img{
    flex: 1;
    border-radius: 0.5em;
    overflow: hidden;
}
.carta-contenido{
    width: 100%;
    height: 60px;
}
.carta-contenido p{
    text-align: left;
    color: #6c4c36;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}
.titulo-proyecto{
    margin-top: 5px;
}
.contador-proyecto{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.titulo-contenido, .contador{
    position: relative;
    width: 1200px;
    height: 150px;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}
.contador{
    top:-10px
}
.contenedor-contador{
    position: relative;
    transform:translateY(150px);
    will-change: transform;
}
.contador-proyecto h1{
    width: 100%;
    position: relative;
    color: #6c4c36;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 1;
    letter-spacing: -0.04em;
    will-change: transform;
}
.empty{
    opacity: 0;
}
@media(max-width:900px){
    .titulo-contenido{
        height: 30px;
    }
    .titulo-contenido h1{
        font-size: 30px;
    }
    .contador{
        top:0px;
        left:-10px
    }
    .cartas{
        top:27.5%
    }
    .carta{
        width: 375px;
        height: 500px;
    }
}
/*Estilo cursor*/
.cursor-punto {
    width: 10px;
    height: 10px;
    background-color: #c9a689;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    transition: transform 0.2s ease;
    will-change: transform; 
}
.cursor-punto.on-button {
    background-color: white;
    mix-blend-mode: difference;
}
.cursor-linia {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    transition: transform 0.3s ease, border 0.3s ease;
    will-change: transform; 
}
.cursor-linia.expand{
    transform: translate(-50%, -50%) scale(1.8); 
    border: 2px solid #c9a689; 
    transition: transform 0.1s ease, border 0.1s ease; 
}